<div class="container shadow align-items-center form-color mt-5">
    <p class="text-center mx-auto display-4"><strong>RFC</strong></p>
    <p class="text-center mx-auto display-4 lead"><%=RFC%></p>
    <p class="text-center mt-4"><a href="/" class="btn btn-outline-info btn-lg mt-2">Regresar</a></p>
</div>